@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    /* scroll-behavior: smooth; */
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #111111;
    --second-bg-color: #244ea8;
    --text-color: rgb(255, 255, 255);
    --main-color: #72b8d8;
    --pain-color:rgb(54, 123, 250);

}

 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }

 body{
    background: var(--bg-color);
    color: var(--text-color); 
} 
 

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
    z-index: 100;
    transition: .3s; 
}  

.header.sticky {
    background: #0D0D10;
}

 .logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}  

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background:linear-gradient(rgba(5, 7, 12, 0.90),rgba(5, 7, 12, 0.80)), url(/images/sala.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home-content {
    max-width: 60rem;

}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.heading{
    position: center;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

#carruselPadre{
  border: 5px solid rgb(0, 0, 0);
  height: 400px;
  width: 200px;
  overflow: hidden;
}
.itemCarrusel{
  /* border: 1px solid rgb(255, 255, 255); */
  height: 100%;
  width: 100%;
  position: relative;
}

.col{
  height: 100%;
}

.imagesnes{
  width: 100%;
  height: 100%;
}

.flechasCarrusel{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

i{
  color: black;
  width: 10px;
  height: 10px;
}

#col-1{
  background-color: rgb(247, 183, 9);
}

#col-2{
  background-color: rgb(122, 122, 122);
}

#col-3{
  background-color: rgb(165, 235, 3);
}

#col-4{
  background-color: rgb(255, 0, 0);
}

#col-5{
  background-color: rgb(97, 27, 38);
}

.txt{
  margin-right: 20px;
}
/* ANIMACION DEL TEXTO */
.home-content .text-animate {
    position: relative;
    width: 32.8rem;
    

}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--pain-color);
    background-image: linear-gradient(var(--pain-color), var(--pain-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;

  }
  
  .home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText  6s linear infinite;
    animation-delay: 2s;
    
  }
  
.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;

}

.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border:  .2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85%{
        background-position: 0 0;
    }
}

@keyframes homeCursorText{
    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85%{
        width: 100%;
        opacity: 1;
    }

    75%,
    81%{
        opacity: 0;
    }
}

 @media(max-width: 1200px){
    html{
      font-size: 55%;
    }
  
  }
  @media(max-width:991px){
    .header{
      padding: 2rem 4%;
  
    }
    section{
      padding: 10rem 4% 2rem;
    }
    .home{
      padding: 0 4%;
    }
    .footer{
      padding: 2rem 4%;
    }
  }

   @media(max-width:390px){
    .apartament{
      min-height: 0vh;
  
    }
    section{
    padding: 10px 10px 0 10px;
    }
    .row{     
       padding: 10px;
    }
    .col{
      padding: 10px;
    }
  } 
  
   @media(max-width:768px){
    .header{
      background: var(--bg-color);
    }
    #menu-icon{
      display: block;
    }

    @media (max-width: 480px) {
      .row {
        width: 100%;
      }
    
      .col:nth-of-type(4),
      .col:nth-of-type(5) {
        display: none;
      }
    } 

    .navbar{
      position: absolute;
      top: 100%;
      left: -100%;
      width: 100%;
      padding: 1rem 4%;
      background: var(--second-bg-color);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      z-index: 1;
      transition: .25s ease;
      transition-delay: .25s;
    } 
  
  .navbar.active {
      left: 0;
      transition-delay: 0s;
  } 
  
  .navbar .active-nav{
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, .2);
       z-index: -1;
      transition: .25s ease;
      transition-delay: 0s; 
  } 
  
   .navbar.active .active-nav {
    left: 0;
    transition-delay: .25s;
  } 
  
    .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      transform: translateX(-20rem);
      transition: .25s ease;
      transition-delay: 0s; 
    }
  
    .navbar.active a {
      transform: translateX(0);
      transition-delay: .25s;
    }

   }